<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>To Do List</title>

</head>
<body>
    
    <div class="instructions">
        <h1>Instructions:</h1>
        <p>Add to-dos below. When they are complete, click on them to cross them off.</p>
        <p>You can also delete todos by clicking Delete!</p>
    </div>
    
    <h2>To Do:</h2>
    <% if(items.length > 0) {%>
        <%console.log(items)%>
        <% for(let i=0; i < items.length; i++) {%>
            <span><% items[i] %></span>
            <ul>
                <li class="todoItem">
                    <%if(items[i].completed == true) {%>
                        <span class='completed'><%=items[i].todo%></span>
                    <% }else{ %>
                        <span><%=items[i].todo%></span>
                    <% }%>
                    <span class='del'>Delete</span>
                </li>
            </ul>
            
            
        <%} %>
    <%} else {%>
        <ul>
            <li>There are no todos here.<li>
        </ul>
    <%}%>
    <h2>Things left to do: <%= left %>
    </h2>
    
    <form action="/createTodo" method="POST">
        <input type="text" placeholder="Enter Todo Item" name="todoItem">
        <input type="submit">
    </form>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>